---
layout: base
title: Posts
---

{% for post in paginator.posts %}
  {% if post.category == "Links" %}
    {% include link.html %}
  {% elsif post.category == "Posts" %}
    {% include post.html %}
  {% elsif post.category == "Toots" %}
    {% include toot.html %}
  {% else %}
    <div class="post">
      <h2 class="post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </div>
  {% endif %}
{% endfor %}

{% assign post_count = site.posts | size %}
{% if post_count > paginator.per_page %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="pagination__link" href="{{ paginator.previous_page_path }}">
        ← Previous
      </a>
    {% else %}
      <span class="pagination__link pagination__link--disabled">
        ← Previous
      </span>
    {% endif %}
    <span class="pagination__info">
      Page {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="pagination__link">
        Next →
      </a>
    {% else %}
      <span class="pagination__link pagination__link--disabled">
        Next →
      </span>
    {% endif %}
  </div>
{% endif %}
