---
layout: base
title: Posts
---

{% for post in paginator.posts %}
  <section class="mb-12">
    {% if post.category == "Links" %}
      {% include link.html %}
    {% elsif post.category == "Posts" %}
      {% include post.html %}
    {% elsif post.category == "Toots" %}
      {% include toot.html %}
    {% else %}
      <h2 class="text-3xl font-bold font-serif dark:text-gray-100"><a class="hover:text-gray-500 dark:hover:text-gray-300" href="{{ post.url }}">{{ post.title }}</a></h2>
    {% endif %}
  </section>
{% endfor %}

{% assign post_count = site.posts | size %}
{% if post_count > paginator.per_page %}
  <div class="flex mt-8 justify-center items-center gap-5">
    {% if paginator.previous_page %}
      <a class="text-blue-400 px-2 py-1 border rounded" href="{{ paginator.previous_page_path }}" class="previous">
        Previous
      </a>
    {% else %}
      <span class="text-gray-400 px-2 py-1 border rounded">Previous</span>
    {% endif %}
    <span class="text-sm text-gray-400 uppercase">
      Page {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="text-blue-400 px-2 py-1 border rounded">Next</a>
    {% else %}
      <span class="text-gray-400 px-2 py-1 border rounded">Next</span>
    {% endif %}
  </div>
{% endif %}
