---
layout: base
title: Links
permalink: /links
---

{% for post in site.categories.Links %}
  <div class="link-post">
    <div class="link-post__header">
      <span class="badge badge--link">🔗 Link</span>
      <time class="badge badge--date">{{ post.date | date: "%B %d, %Y" }}</time>
    </div>
    {% if post.link %}
      <h2 class="link-post__title">
        <a href="{{ post.link }}" target="_blank" rel="noopener noreferrer">{{ post.title }}
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="link-post__external-icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </a>
        <a class="link-post__permalink" href="{{ post.url }}" title="Permalink">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="link-post__permalink-icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
          </svg>
        </a>
      </h2>
    {% else %}
      <h2 class="link-post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% endif %}
    {% if post.subtitle %}
      <h3 class="link-post__subtitle">{{ post.subtitle }}</h3>
    {% endif %}
    <div class="link-post__content content">
      {{ post.content }}
    </div>
  </div>
{% endfor %}
