---
layout: base
title: Links
permalink: /links
---

<h1 class="text-5xl">Links</h1>
{% for post in site.categories.Links %}
  <section class="mb-12">
    <time class="bg-teal-100 dark:bg-teal-700 py px-2 rounded-md inline-block my-2 text-sm uppercase dark:text-teal-300 text-teal-700">{{ post.date | date: "%B %d %Y" }}</time>
    {% if post.link %}
      <h2 class="text-3xl font-bold font-serif dark:text-gray-100">
        <a class="hover:text-gray-500 dark:hover:text-gray-300" href="{{ post.link }}">{{ post.title }} </a>
        <a class="text-xs uppercase text-gray-400 hover:text-teal-500 dark:text-gray-500" href="{{ post.url }}">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block -mt-3 w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
          </svg>
        </a>
      </h2>
    {% else %}
      <h2 class="text-3xl font-bold font-serif dark:text-gray-100"><a class="hover:text-gray-500 dark:hover:text-gray-300" href="{{ post.url }}">{{ post.title }}</a></h2>
    {% endif %}
    {% if post.subtitle %}
      <h3 class="text-xl font-bold font-serif text-gray-600 dark:text-gray-400">{{ post.subtitle }}</h2>
    {% endif %}
    <div class="content dark:text-gray-300 prose prose-lg dark:prose-invert">
      {{ post.content }}
    </div>
  </section>
{% endfor %}

{% assign post_count = site.posts | size %}
{% if post_count > paginator.per_page %}
  <div class="flex mt-8 items-center gap-5">
    {% if paginator.previous_page %}
      <a class="text-blue-400 px-2 py-1 border rounded" href="{{ paginator.previous_page_path }}" class="previous">
        Previous
      </a>
    {% else %}
      <span class="text-gray-400 px-2 py-1 border rounded">Previous</span>
    {% endif %}
    <span class="text-sm text-gray-400 uppercase">
      Page {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="text-blue-400 px-2 py-1 border rounded">Next</a>
    {% else %}
      <span class="text-gray-400 px-2 py-1 border rounded">Next</span>
    {% endif %}
  </div>
{% endif %}
