<section class="bg-emerald-50 mx-auto mt-4 max-w-lg border border-emerald-100 dark:bg-gray-800 dark:border-gray-500 p-4 rounded shadow">
  <div class="flex">
    <img src="/assets/images/profile.jpeg" class="w-16 h-16 mr-2 shadow border border-gray-400 rounded-lg" />
    <div class="text-lg text-gray-600 dark:text-gray-200">
      {{ post.content }}
    </div>
  </div>
  <time class="block text-sm dark:text-emerald-300 text-emerald-500 text-right">
    <a href="{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a>
  </time>
</section>
