<!DOCTYPE html>
<html>
  <head>
    <title>Lee Ourand: {{ page.title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/stylesheets/style.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>

    <link rel="alternate" type="application/atom+xml" title="leeourand.com" href="/feed.xml">

    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  </head>
  <body class="bg-gray-100 dark:bg-gray-900">
    <header class="bg-green-400 dark:bg-green-600 px-5 py-3 font-sans text-white dark:text-gray-300 text-center">
      <h1 class="text-2xl font-extrabold"><a href="/">lee.ourand.me</a></h1>
      <nav class="font-semibold md:hidden">
        <a class="bg-green-200 px-1 py rounded text-green-400" href="/">Posts</a>
        <a class="bg-green-200 px-1 py rounded text-green-400" href="https://ruby.social/@leeourand">Mastodon</a>
        <a class="bg-green-200 px-1 py rounded text-green-400" href="https://github.com/leeourand">Github</a>
      </nav>
    </header>
    <div class="container sm:mx-auto sm:my-6 sm:grid sm:grid-cols-[1fr_auto_1fr] sm:grow sm:gap-5">
      <section class="sm:mt-9 text-right text-xl text-gray-800 dark:text-gray-300">
        <ul class="hidden md:block">
          <li><a class="hover:underline" href="/">Posts</a></li>
          <li><a class="hover:underline" href="https://ruby.social/@leeourand">Mastodon</a></li>
          <li><a class="hover:underline" href="https://github.com/leeourand">Github</a></li>
          <li><a class="hover:underline" href="/feed.xml">RSS</a></li>
        </ul>
      </section>
      <article class="bg-white dark:bg-gray-700 border-2 p-2 sm:p-5 border-gray-200 dark:border-gray-600 mt-3 sm:w-auto">
        {{ content }}
      </article>
    </div>
  </body>
</html>
