<!DOCTYPE html>
<html>
  <head>
    <title>Lee Ourand: {{ page.title }}</title>
    <link href="/assets/stylesheets/style.css" rel="stylesheet" />
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '50dd1119f5a1f54ac7000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </head>
  <body>
    <div id="heading">
      <div id="profile">
        <a href="/"><img src="/assets/images/profile_square.jpg" alt="profile image" /></a>
      </div>
      <div id="navigation">
        <ul>
          <li><a href="/about.html">&#10006; About</a></li>
          <li><a href="/index.html">&#10006; Articles</a></li>
          <li><a href="/projects.html">&#10006; Projects</a></li>
        </ul>
      </div>
    </div>
    <div id="primary">
      {{ content }}
    </div>
  </body>
</html>
