---
layout: base
---
<article>
  <header>
    <time class="block mt-2 text-1xl uppercase dark:text-gray-400">{{ page.date | date: "%B %d, %Y" }}</time>
    <h1 class="text-4xl font-bold font-serif dark:text-gray-200">
      <a href="{{ page.link }}">
        {{ page.title }}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block -mt-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
        </svg>
      </a>
    </h1>
    <h2 class="mt-2 text-3xl font-bold text-gray-600 dark:text-gray-400 font-serif">{{ page.subtitle }}</h1>
  </header>
  <div class="content prose prose-lg dark:prose-invert">
    {{ content }}
  </div>
</article>

